<!-- // @view for card-title components -->
<!-- // @author: Le Duc Anh  -->

<div class="text-light" data-bind="visible: vm.stylePage.card_type()==`index`">
    <h4><i class="fas fa-video icon"></i> Talk to An Nguyen</h4>
</div>
<div class="text-light" data-bind="visible: vm.stylePage.card_type()==`patient_waiting`">
    <h4><i class="far fa-clock fa-flip-horizontal"></i> Connecting with your provider</h4>
</div>
<div class="text-light" data-bind="visible: vm.stylePage.card_type()==`doctor`">
    <div class="d-flex justify-content-between ">        
        <h4><i class="fas fa-bars"></i> Waiting Room</h4>
        <a role="button"><h4><i class="fas fa-user-plus"></i> Invite people</h4></a>
    </div>
</div>