<!-- // @view for card announcement components  -->
<!-- // @render an announcement and a button to exist the consultation room  -->
<!-- // @author: Le Duc Anh  -->

<div class="justify-content-center m-auto text-center p-5">
    <div class="m-auto">
        <h4 class="pt-3" id="announcement">Your provider will be with you shortly.</h4>
        <h4 class="pt-3" id="progressing_announce" style="display: none;"></h4>
        <button class="btn bg-warning text-light mt-4 mx-auto" type="button" 
        data-bind="click: leaveWaitingRoom" id="exist_btn">
            Exit Waiting Room 
        </button>
    </div>
    <h4 class="pt-3" id='progressing_announce'></h4>
</div>
<hr class="text-muted mx-2" />
<h5 class="text-center font-weight-normal p-3">If you close the video conference by mistake please, 
    <a id="call_btn" class="text-success" role="button" data-bind="click: callDoctor">click here to relaunch video</a> again</h5>