<!-- // @view for card content components  -->
<!-- // @description: depend on the views are waiting, consultation room or doctor dashboard  -->
<!-- // @the component will render form, announcement or the table list of patients. -->
<!-- // @author: Le Duc Anh  -->

<div data-bind="if: vm.stylePage.card_type()==`index`">    
    <card-form></card-form>
</div>
<div data-bind="if: vm.stylePage.card_type()==`patient_waiting`">    
    <patient-waiting></patient-waiting>
</div>
<div data-bind="if: vm.stylePage.card_type()==`doctor`">
    <card-patient-info></card-patient-info>
</div>